<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">


    <!-- /* 表示作用于所有web资源，客户端请求访问任意资源文件时，都要经过过滤器过滤，通过则访问文件，否则拦截 -->
    <!-- /dir/* 作用于某一个文件夹下所有文件 -->
    <!-- *.扩展名 作用于某一类型的文件 -->
    <!-- /dir/*.扩展名 作用于某一文件下某一类型文件 -->
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>servlet.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>SelectServlet</servlet-name>
        <servlet-class>servlet.SelectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectServlet</servlet-name>
        <url-pattern>/SelectServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>IdServlet</servlet-name>
        <servlet-class>servlet.IdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IdServlet</servlet-name>
        <url-pattern>/IdServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>servlet.UpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>servlet.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InsertServlet</servlet-name>
        <servlet-class>servlet.InsertServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertServlet</servlet-name>
        <url-pattern>/InsertServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PagingServlet</servlet-name>
        <servlet-class>servlet.PagingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PagingServlet</servlet-name>
        <url-pattern>/PagingServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>